
    .container2 {
      font-family: 'Arial, sans-serif';
      margin: 0;
      padding: 0;
      background-color: #f3f3f3;
    }
    .containerInner {
      max-width: 800px;
      margin: 20px auto;
      background-color: #fff;
      padding: 20px;
      padding-bottom: 20vh;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .h1 {
      text-align: center;
    }
    .studentList {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding: 0;
      list-style-type: none;
    }
    .studentItem {
      background-color: #f9f9f9;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      text-decoration: none;
    }
    .reportBtn {
      display: block;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #0037ff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .messageCard {
      margin-top: 20px;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }